.edit {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
}

.edit-container {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;

    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(215, 7, 7, 0.468);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

 
